.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: left;
}

.status .status-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 3px;
}

.status .status-icon.disconnected {
    background-color: red;
}

.status .status-icon.connected {
    background-color: green;
}

.status .status-text{
    margin-left: top;
}